<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="/PHP/App/views/styles.css">


</head>

<body>
    <div class="container">
        <h1>Lista de Tarefas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="taskTableBody">
                <!-- As tarefas serão inseridas aqui pelo PHP -->
            </tbody>
        </table>
    </div>
</body>

</html>